<h2 class="text-center text-success b">Delete Employee</h2>
  <div class="row justify-content-center align-items-center h-100 a">
    
  <form>
    <div class="form-group md-form form-lg ">
        <div class="form-group">
            <label for="id">Employee Id</label>
            <input type="number" [(ngModel)]="user.id" placeholder="Enter Id" name="id" class="form-control" id="mobileNo" required>
          </div>


    </div>
        <button class="btn btn-success" (click)="deleteEmpById()">Delete</button>
        </form>
      </div>
      